data/002_END.csv filter=lfs diff=lfs merge=lfs -text
data/014_END.csv filter=lfs diff=lfs merge=lfs -text
data/015_START.csv filter=lfs diff=lfs merge=lfs -text
data/016_START.csv filter=lfs diff=lfs merge=lfs -text
data/019_START.csv filter=lfs diff=lfs merge=lfs -text
data/022_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/004_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/011_END.csv filter=lfs diff=lfs merge=lfs -text
data/014_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/017_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/018_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/008_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/020_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/015_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/019_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/013_END.csv filter=lfs diff=lfs merge=lfs -text
data/022_START.csv filter=lfs diff=lfs merge=lfs -text
data/018_START.csv filter=lfs diff=lfs merge=lfs -text
data/019_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/008_END.csv filter=lfs diff=lfs merge=lfs -text
data/013_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/014_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/015_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/017_START.csv filter=lfs diff=lfs merge=lfs -text
data/004_START.csv filter=lfs diff=lfs merge=lfs -text
data/007_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/007_START.csv filter=lfs diff=lfs merge=lfs -text
data/016_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/018_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/002_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/011_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/012_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/012_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/016_END.csv filter=lfs diff=lfs merge=lfs -text
data/021_START.csv filter=lfs diff=lfs merge=lfs -text
data/002_START.csv filter=lfs diff=lfs merge=lfs -text
data/004_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/012_START.csv filter=lfs diff=lfs merge=lfs -text
data/020_END.csv filter=lfs diff=lfs merge=lfs -text
data/020_START.csv filter=lfs diff=lfs merge=lfs -text
data/004_END.csv filter=lfs diff=lfs merge=lfs -text
data/005_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/021_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/021_END.csv filter=lfs diff=lfs merge=lfs -text
data/020_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/005_START.csv filter=lfs diff=lfs merge=lfs -text
data/008_START.csv filter=lfs diff=lfs merge=lfs -text
data/013_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/014_START.csv filter=lfs diff=lfs merge=lfs -text
data/019_END.csv filter=lfs diff=lfs merge=lfs -text
data/018_END.csv filter=lfs diff=lfs merge=lfs -text
data/005_END.csv filter=lfs diff=lfs merge=lfs -text
data/005_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/007_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/011_START.csv filter=lfs diff=lfs merge=lfs -text
data/013_START.csv filter=lfs diff=lfs merge=lfs -text
data/007_END.csv filter=lfs diff=lfs merge=lfs -text
data/012_END.csv filter=lfs diff=lfs merge=lfs -text
data/015_END.csv filter=lfs diff=lfs merge=lfs -text
data/016_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/022_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/008_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/017_END.csv filter=lfs diff=lfs merge=lfs -text
data/022_END.csv filter=lfs diff=lfs merge=lfs -text
data/002_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/011_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
data/017_BASELINE.csv filter=lfs diff=lfs merge=lfs -text
data/021_MIDDLE.csv filter=lfs diff=lfs merge=lfs -text
out/csv.tar.gz filter=lfs diff=lfs merge=lfs -text
out/csv-old.tar.gz filter=lfs diff=lfs merge=lfs -text
out/png.tar.gz filter=lfs diff=lfs merge=lfs -text
out/png-avg.tar.gz filter=lfs diff=lfs merge=lfs -text
out/png-max.tar.gz filter=lfs diff=lfs merge=lfs -text
out/data.npz filter=lfs diff=lfs merge=lfs -text
